# Summary stats

In [1]:
import pandas as pd 
import numpy as np

In [2]:
demo = pd.read_excel('8x4/demo.xlsx').query('year < 2009') # we do not use 2009

In [4]:
wm = lambda x: np.average(x, weights=demo.loc[x.index, "count"])

demo_g = demo.groupby('tau').agg(wm).drop('count', axis=1)
demo_g.rename(columns={'age':'Age', 'bigcity1':'1(Urban)', 'nkids':'No. kids', 'real_inc':'Income', 'single':'1(Single)', 'wd':'Work distance'}, inplace=True)
demo_g.drop(['year'],axis=1,inplace=True)
demo_g.Income = demo_g.Income/1000
demo_g['N'] = demo.groupby('tau')['count'].sum()    
# change the order of the columns 
demo_g = demo_g.iloc[:, [6,3,4,5,0,1,2]]

In [5]:
#Add names for the household types 
tau_names = [f'{wd} WD, {c}, {y}' for wd in ['Low', 'High'] for c in ['Couple', 'Single'] for y in ['Poor', 'Rich']]
demo_g.rename(index={i+1:f'{i+1}: {tau_names[i]}' for i in range(8)}, inplace=True)
tab = demo_g.round(2).rename(columns={'tw':'Share'})
tab

,N,Income,1(Single),Work distance,Age,1(Urban),No. kids
tau,,,,,,,
"1: Low WD, Couple, Poor",6667634,311.70,0,0.00,55.04,0.22,0.48
"2: Low WD, Couple, Rich",6538448,777.44,0,0.00,46.38,0.21,1.03
"3: Low WD, Single, Poor",7969411,109.92,1,0.00,54.21,0.35,0.11
"4: Low WD, Single, Rich",7815269,301.23,1,0.00,48.22,0.33,0.20
"5: High WD, Couple, Poor",4147914,494.67,0,34.63,40.59,0.12,0.99
"6: High WD, Couple, Rich",3952150,862.57,0,42.14,43.57,0.12,1.21
"7: High WD, Single, Poor",1228816,215.04,1,26.71,33.85,0.25,0.22
"8: High WD, Single, Rich",1194766,413.36,1,32.98,41.15,0.22,0.24

In [6]:
tab.to_latex('sumstats_demo.tex')

# Cars (NOT IN USE)

I decided to use Matlab directly so that observation counts would match up.

In [7]:
cars = pd.read_excel('8x4/car_attributes.xlsx')
cars.price_new = cars.price_new / 1000

wm = lambda x: np.average(x, weights=cars.loc[x.index, "count"])
cars_g = cars.groupby('car_type').agg(wm)

car_names = [f'{w}, {g}' for w in ['Light', 'Heavy'] for g in ['brown', 'green']]
car_names_dict = {i+1:f'{i+1}: {car_names[i]}' for i in range(4)}
cars_g.rename(index=car_names_dict, inplace=True)

col_dict = {'count':'No. cars', 'car_age':'Car age', 'beta':'Depreciation', 'diesel':'Diesel (share)', 'fueleff':'Fuel efficiency (km/l)', 'price_new':'Price (new)', 'total_weight_tons':'Weight (tons)'}
cars_g.rename(columns=col_dict, inplace=True)
cars_g.index.name = 'Car type'
del cars_g['year']
tab = cars_g.iloc[: , [6,4,1,0,5,2,3]].T
tab.round(3)

Car type,"1: Light, brown","2: Light, green","3: Heavy, brown","4: Heavy, green"
Weight (tons),1.491,1.333,1.967,1.691
Fuel efficiency (km/l),13.322,15.691,10.692,13.403
No. cars,23117.178,26561.536,27090.170,29516.309
Car age,8.464,8.863,8.582,9.088
Price (new),159.153,123.249,274.295,217.588
Depreciation,0.873,0.874,0.867,0.873
Diesel (share),0.006,0.091,0.151,0.246